.login {
    width: 100%;
    min-height: 625px;
    background-color: #2E2E2E;
}

.login .forms {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login form {
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    background-color: #585858;
    border-radius: 8px;
}

.login form header{
    margin: 10px;
}

.login form button {
    margin-top: 40px
}