.login {
    width: 100%;
    min-height: 625px;
    background-color: #FAFAFA;
}

.login #page_header{
    width: 100%;
    height: 70px;
    background-color: #87CEEB;
    color: #fff;
    max-width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.login .forms {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login form {
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    background-color: #fff;
    border-radius: 8px;
}

.login form header{
    margin: 10px;
}

.login form button {
    margin-top: 40px
}