.friends {
    max-width: 100%;
    min-height: 625px;
    display: flex;
    flex-direction: column;
    background-color: #2E2E2E;
}

.friends ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.friends ul li span {
    width: 160px;
}

.friends ul li button {
    background-color: tomato;
}