
.books_profile {
    min-height: 625px;
    background-color: #2E2E2E;
    display: flex;
    flex-direction: column;
}

.books_profile h3 {
    margin: 20px;
}

.books_profile #books {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}